.readoffline-embed {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.readoffline-embed div {
  display: inline;
  padding: 0 0 1px 20px;
}

.readoffline-embed-text {
  font-weight: bold;
  padding-left: 0;
}

.readoffline-embed .pdf,
.readoffline-embed .epub,
.readoffline-embed .mobi,
.readoffline-embed .print,
.readoffline-embed .docx,
.readoffline-embed .azw {
  border: 0;
  min-height: 16px;
  padding: 0 0 1px 20px;
  text-decoration: none;
}

.readoffline-embed .pdf {
  background: url(document-pdf.png) no-repeat 0 50%;
}

.readoffline-embed .print {
  background: url(document-print.png) no-repeat 0 50%;
}

.readoffline-embed .epub {
  background: url(document-epub.png) no-repeat 0 50%;
}

.readoffline-embed .docx {
  background: url(document-docx.png) no-repeat 0 50%;
}

.readoffline-embed .mobi,
.readoffline-embed .azw {
  background: url(document-mobi.png) no-repeat 0 50%;
}
