
@page {
	size: auto;  /*<length>{1,2} | auto | portrait | landscape  ('em' 'ex' and % are not allowed; length values are width height*/
	margin: 10%; /*any of the usual CSS values for margins (% of page-box width for LR, of height for TB)*/
	margin-header: 5mm; /*any of the usual CSS values for margins*/
	margin-footer: 5mm; /*any of the usual CSS values for margins*/
	marks: none;	 /* crop | cross | none */
	header: pdfheader;
	footer: pdffooter;
}
